{
  "CN": "service-accounts",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ country }}",
      "L": "{{ locality }}",
      "O": "system:masters",
      "OU": "{{ organizationalUnit }}",
      "ST": "{{ state }}"
    }
  ]
}