{
  "CN": "Kubernetes",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "C": "NL",
      "L": "Netherlands",
      "O": "kaposi.net",
      "OU": "UT",
      "ST": "Utrecht"
    }
  ]
}
