{
  "CN": "*.example.com",
  "hosts": [
    "k8s-data1",
    "k8s-data2",
    "k8s-data3",
    "k8s-data1.example.com",
    "k8s-data2.example.com",
    "k8s-data3.example.com",
    "10.10.186.252",
    "10.10.186.131",
    "10.10.186.58",
    "k8s-mstr1",
    "k8s-mstr2",
    "k8s-mstr1.example.com",
    "k8s-mstr2.example.com",
    "10.10.186.73",
    "10.10.186.22",
    "k8s-kube1",
    "k8s-kube2",
    "k8s-kube1.example.com",
    "k8s-kube2.example.com",
    "10.10.186.89",
    "10.10.186.74",
    "k8s-rand1",
    "k8s-rand2",
    "k8s-rand1.example.com",
    "k8s-rand2.example.com",
    "10.10.186.164",
    "10.10.186.87",
    "lb.example.com",
    "lb",
    "kubernetes.example.com",
    "${KUBERNETES_PUBLIC_IP_ADDRESS}",
    "localhost",
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "NL",
      "L": "Utrecht",
      "O": "kaposi.net",
      "OU": "Cluster",
      "ST": "Utrecht"
    }
  ]
}
